{% extends "skeleton.twig" %}

{% block title %}Overzicht bestelling{% endblock %}

{% block content %}
    <h1>Afrekenen</h1>
   

        
        {% if cart.cart|length > 0 %}
        {% set total = 0 %}
        
        <ul>
            {% for cartline in cart.cart %}

                <li>
                    <form class="form-inline cartlist" action="order.php" method="post">
                        <div class="form-control col-md-4">{{ cartline.amount}} x {{ cartline.product.name }}</div>
                        <div class="form-control col-md-2">@ {{ cartline.product.price }}€</div>
                        <div class="form-control col-md-2">= {{ cartline.product.price * cartline.amount }}€</div>

                        
                    </form>
                    {% set total = total + cartline.product.price * cartline.amount %}
                </li>

            {% endfor %}
            <li>&nbsp;</li>
            <li class="totalPrice">Totaal: {{ total }}€</li>
        </ul>

        <form action="order.php">
            <button  type="submit" name="" class="btn btn-default">Wijzig bestelling</button>
        </form>
        <span class="errormessage">{{ error }}</span>
        <form action="checkout.php" method="post">
            Kies een datum (yyyy-mm-dd): 
            <input type="date" name="date" >
            <button type="submit" name="confirmSubmit"  class="btn btn-default">Bevestig bestelling</button>
        </form>
        {% else %}
            Uw winkelkar is leeg.
                {%endif%}
                







{% endblock %}