{% extends "skeleton.twig" %}

{% block title %}Overzicht bestelling{% endblock %}

{% block content %}
    <h1>Uw bestelling: </h1>
    {% set total = 0 %}
    {% for cartline in cart.cart %}
        <ul>
            <li>
                {{ cartline.product.name }} - {{ cartline.amount}} * {{ cartline.product.price }} - {{ cartline.product.price * cartline.amount }}
                {% set total = total + cartline.product.price * cartline.amount %}
            </li>
        </ul>
    {% endfor %}

    
    Totaal: {{ total }}
    
    <form action="order.php">
        <input type="submit" name="" value="wijzig bestelling">
    </form>
    
    <form action="checkout.php" method="post">
        Kies een datum
        <input type="date" name="date">
        <input type="submit" name="confirmSubmit" value="Bevestig bestelling">
    </form>





{% endblock %}