{% extends "skeleton.twig" %}

{% block title %}Index{% endblock %}

{% block content %}
    <!--{{ email }} - {{ password }}-->
    {% if error == "loginfailed" %}
        <h3>Foute inloggegevens</h3>
    {% endif %}
    <form name="loginForm" action="login.php" method="post">
        <input type="text" name="email" placeholder="email" required>
        <input type="password" name="password" placeholder="wachtwoord" required>
        <input type="submit" name="loginSubmit" value="login">
    </form>

    <form name="registerForm" action="login.php" method="post">
        <input type="text" name="email" placeholder="email" required>
        <input type="text" name="name" placeholder="familienaam" required>
        <input type="text" name="firstname" placeholder="voornaam" required>
        <input type="text" name="address" placeholder="adres" required>
        <select name="city" required>
            <option disabled selected>Selecteer gemeente...</option>
            {% for city in cityList %}
            <option value="{{ city.id }}">{{ city.zipcode }} - {{ city.name }}</option>
            {% endfor %}
        </select>
        <input type="submit" name="registerSubmit" value="registreren">

    </form>
{% endblock %}