{% extends "skeleton.twig" %}

{% block title %}Log in/Register{% endblock %}

{% block content %}
    <!--{{ email }} - {{ password }}-->
    <h2>Log in</h2>
    {% if error == "loginfailed" %}
        <h3>Foute inloggegevens</h3>
    {% endif %}
    {% if not email is null %}
        {% set emailvalue = email %}
    {% else %}
        {% set emailvalud = '' %}
    {% endif %}
    <form name="loginForm" action="login.php" method="post">
        <div class="form-group">
            <input class=form-control type="text" name="email" placeholder="email" value="{{ emailvalue }}" required>
        </div>
        <div class="form-group">
            <input class="form-control" type="password" name="password" placeholder="wachtwoord" required>
        </div>
        <div class="form-group">
            <button type="submit" name="loginSubmit" class="btn btn-default">Login</button>
        </div>
    </form>

    <h2>Of registreer je nu...</h2>
    {% if error == "cityerror" %}
        <h3>Gemeente bestaat niet</h3>
    {% elseif error == "customerexists" %}
        <h3>Er is al een account gekoppeld aan dit emailadres</h3>
    {% elseif error == "emptyfields" %}
        <h3>Alle velden zijn verplicht!</h3>
    {% endif %}

    <form name="registerForm" action="login.php" method="post">
        <div class="form-group">
            <input type="text" name="email" placeholder="email" class="form-control" value="{{user.email}}" required>
        </div>
        <div class="form-group">
            <input type="text" name="name" placeholder="familienaam" class="form-control" value="{{user.name}}" required>
        </div>
        <div class="form-group">
            <input type="text" name="firstname" placeholder="voornaam" class="form-control" value="{{user.firstname}}" required>
        </div>
        <div class="form-group">
            <input type="text" name="address" placeholder="adres" class="form-control" value="{{user.address}}" required>
        </div>
        <div class="form-group">
            <select name="city" class="form-control" required>
                <option disabled selected>Selecteer gemeente...</option>
                {% for city in cityList %}
                    {% set selected ="" %}
                    {% if user.city.zipcode == city.zipcode %}
                        {% set selected = "selected" %}
                    {% endif %}
                    <option value="{{ city.id }} {{ selected }}">{{ city.zipcode }} - {{ city.name }}</option>
                {% endfor %}
            </select>
        </div>

        <button type="submit" name="registerSubmit" class="btn btn-default">Registreer</button>


    </form>
{% endblock %}