{% extends "skeleton.twig" %}

{% block title %}Mijn bestellingen{% endblock %}

{% block content %}
    <h1>Mijn bestellingen: </h1>
    {% if orderlist|length == 0 %}
        U hebt geen bestellingen.
    {% else %}
        {% if not error is null %}
            <span class="errormessage">{{ error }}</span>
        {% endif %}
        <ul>
            {% for order in orderlist %}

                <li> <form class="form-inline" action="orders.php" method="post">
                        <div class="form-control"> Bestelling voor {{order.date}}</div>
                        <button type="submit" name="cancelOrderSubmit" value="{{order.id}}" class="btn btn-default">Annuleer bestelling</button>
                    </form>

                    <ul>
                        {% set total = 0%}
                        {% for orderline in order.orderlines %}

                            <form class="form-inline cartlist" action="order.php" method="post">
                                <div class="form-control col-md-4">{{ orderline.amount}} x {{ orderline.product.name }}</div>
                                <div class="form-control col-md-2">@ {{ orderline.product.price }}€</div>
                                <div class="form-control col-md-2">= {{ orderline.product.price * orderline.amount }}€</div>



                            </form>
                            {% set total = total + orderline.product.price * orderline.amount %}

                        {% endfor %}
                        <li class="totalPrice">
                            totale prijs: {{ total }}€
                        </li>
                        <li>&nbsp;</li>
                    </ul>
                </li>
            {% endfor %}
        </ul>
    {% endif %}








{% endblock %}