{% extends "skeleton.twig" %}

{% block title %}Bestellen{% endblock %}

{% block content %}
    <h1>Bestellen: </h1>

    {% if cart.cart|length > 0 %}
        {% set total = 0 %}
        {% for cartline in cart.cart %}
            <ul>
                <li>
                    {{ cartline.product.name }} - {{ cartline.amount}} * {{ cartline.product.price }} - {{ cartline.product.price * cartline.amount }}
                    {% set total = total + cartline.product.price * cartline.amount %}
                </li>
            </ul>
        {% endfor %}
        Voorlopig totaal: {{ total }}
        <div>
            <form name="cancel" action="order.php" method="post">
                <button type="submit" name="cancelSubmit" class="btn btn-default">Alles wissen</button>
            </form>
        </div>

    {% else %}
        Nog geen producten in winkelmandje.
    {% endif %}

    <!--<ul>
        <li>
            Item 1 - aantal - wijzig - verwijder
        </li>
        <li>
            Item 2 - aantal - wijzig - verwijder
        </li>
    </ul>-->
    <form class="form-inline" name="orderForm" action="order.php" method="post">
        <div class="form-group">
            <input type="number" name="amount" value="1" min="1" class="form-control">
            <select name="product" class="form-control">

                <option selected disabled>Kies een product...</option>
                {% for product in productList %}
                    <option value="{{product.id}}">
                        {{product.name}}-{{product.price}}€
                    </option>
                {% endfor %}

            </select>
            
        </div>
                <button type="submit" name="orderAdd" class="btn btn-default">Toevoegen</button>
    </form>
    <form name="checkout" action="checkout.php" method="post">
        <button type="submit" name="orderSubmit" class="btn btn-default">Bevestigen</button>
    </form>






{% endblock %}