{% extends "skeleton.twig" %}

{% block title %}Bestellen{% endblock %}

{% block content %}
    <h1>Bestellen: </h1>
    <span class="errormessage">{{ error }}</span>
    <form class="form-inline" name="orderForm" action="order.php" method="post">
        <div class="form-group">
            <input type="number" name="amount" value="1" min="1" required class="form-control">
            <select name="product" required class="form-control">

                <option selected disabled>Kies een product...</option>
                {% for product in productList %}
                    <option value="{{product.id}}">
                        {{product.name}}-{{product.price}}€
                    </option>
                {% endfor %}

            </select>

        </div>
        <button type="submit" name="orderAdd" class="btn btn-default">Toevoegen</button>
    </form>
    <h2>Winkelmandje:</h2>
    {% if cart.cart|length > 0 %}
        {% set total = 0 %}
        {%  set iter = 0 %}
        <ul>
            {% for cartline in cart.cart %}

                <li>
                    <form class="form-inline cartlist" action="order.php" method="post">
                        <div class="form-control col-md-4">{{ cartline.amount}} x {{ cartline.product.name }}</div>
                        <div class="form-control col-md-2">@ {{ cartline.product.price }}€</div>
                        <div class="form-control col-md-2">= {{ cartline.product.price * cartline.amount }}€</div>

                        <button class="form-control col-md-4" type="submit" name="deleteLineSubmit" value="{{iter}}" class="btn btn-default">Wis item</button>
                        {% set iter = iter+1 %}
                    </form>
                    {% set total = total + cartline.product.price * cartline.amount %}
                </li>

            {% endfor %}
            <li>&nbsp;</li>
            <li class="totalPrice">Voorlopig totaal: {{ total }}€</li>
        </ul>
        
        <div>
            <form name="cancel" action="order.php" method="post">
                <button type="submit" name="cancelSubmit" class="btn btn-default">Alles wissen</button>
            </form>
        </div>
        <form name="checkout" action="checkout.php" method="post">
            <button type="submit" name="orderSubmit" class="btn btn-default">Naar afrekening</button>
        </form>

    {% else %}
        Nog geen producten in winkelmandje.
    {% endif %}










{% endblock %}