{% extends "skeleton.twig" %}

{% block title %}Bestellen{% endblock %}

{% block content %}
    <h1>Bestellen: </h1>

    {% if cart.cart|length > 0 %}
        {% set total = 0 %}
        {% for cartline in cart.cart %}
            <ul>
                <li>
                    {{ cartline.product.name }} - {{ cartline.amount}} * {{ cartline.product.price }} - {{ cartline.product.price * cartline.amount }}
                    {% set total = total + cartline.product.price * cartline.amount %}
                </li>
            </ul>
        {% endfor %}
        Voorlopig totaal: {{ total }}

    {% else %}
        Nog geen producten in winkelmandje.
    {% endif %}

    <!--<ul>
        <li>
            Item 1 - aantal - wijzig - verwijder
        </li>
        <li>
            Item 2 - aantal - wijzig - verwijder
        </li>
    </ul>-->
    <form name="orderForm" action="order.php" method="post">
        <select name="product">

            <option selected disabled>Kies een product...</option>
            {% for product in productList %}
                <option value="{{product.id}}">
                    {{product.name}}-{{product.price}}€
                </option>
            {% endfor %}

        </select>
        <input type="number" name="amount" value="0">
        <input type="submit" name="orderAdd" value="Toevoegen">
    </form>
    <form name="checkout" action="checkout.php" method="post">
        <input type="submit" name="orderSubmit" value="Bestellen">
    </form>
    <form name="cancel" action="order.php" method="post">
        <input type="submit" name="cancelSubmit" value="Opnieuw beginnen">
    </form>





{% endblock %}