{% extends "skeleton.twig" %}

{% block title %}Bestellen{% endblock %}

{% block content %}
    <h1>Bestellen: </h1>
    <h3>{{ error }}</h3>
    <form class="form-inline" name="orderForm" action="order.php" method="post">
        <div class="form-group">
            <input type="number" name="amount" value="1" min="1" required class="form-control">
            <select name="product" required class="form-control">

                <option selected disabled>Kies een product...</option>
                {% for product in productList %}
                    <option value="{{product.id}}">
                        {{product.name}}-{{product.price}}€
                    </option>
                {% endfor %}

            </select>

        </div>
        <button type="submit" name="orderAdd" class="btn btn-default">Toevoegen</button>
    </form>
    <h2>Winkelmandje:</h2>
    {% if cart.cart|length > 0 %}
        {% set total = 0 %}
        {%  set iter = 0 %}
        {% for cartline in cart.cart %}
            <ul>
                <li>
                    <form action="order.php" method="post">
                        {{ cartline.amount}} x {{ cartline.product.name }}  @ {{ cartline.product.price }}€ = {{ cartline.product.price * cartline.amount }}€
                      
                           <button type="submit" name="deleteLineSubmit" value="{{iter}}" class="btn btn-default">Wis item</button>
                           {% set iter = iter+1 %}
                    </form>
                    {% set total = total + cartline.product.price * cartline.amount %}
                </li>
            </ul>
        {% endfor %}
        Voorlopig totaal: {{ total }}
        <div>
            <form name="cancel" action="order.php" method="post">
                <button type="submit" name="cancelSubmit" class="btn btn-default">Alles wissen</button>
            </form>
        </div>

    {% else %}
        Nog geen producten in winkelmandje.
    {% endif %}

    <!--<ul>
        <li>
            Item 1 - aantal - wijzig - verwijder
        </li>
        <li>
            Item 2 - aantal - wijzig - verwijder
        </li>
    </ul>-->

    <form name="checkout" action="checkout.php" method="post">
        <button type="submit" name="orderSubmit" class="btn btn-default">Naar afrekening</button>
    </form>






{% endblock %}